<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hieno sovellus</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.2.js"></script>
    
  </head>
 
  <body>
  

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
	    <li role="presentation"><a href="/showDashboard">Seinä</a></li>
	    <li role="presentation"><a href="/userHome">Oma lista</a></li>
	    <li role="presentation"><a href="/showAddWish">Lisää tavoite</a></li>
		<li role="presentation" class="active"><a href="/showUtube#">Inspiraatiota</a></li>	
		
            <li role="presentation" ><a href="/logout">Kirjaudu ulos</a></li>
			<li role="presentation" ><a href="/contacts">Ota yhteyttä</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Bucketlist äppi</h3>
      </div>
 
 <h1>Löydetyt tulokset:</h1>
{% for video in videos %}

<iframe id="ytplayer" type="text/html" width="200" height="200"
  src="{{videos[video]}}"
  frameborder="0"></iframe>

<!--<li><a href="{{videos[video]}}" target="_blank"> {{video}} </a></li> -->
 {% endfor %}

 <!--<iframe id="ytplayer" type="text/html" width="200" height="200"
  src="https://www.youtube.com/embed/M7lc1UVf-VE?autoplay=1&origin=http://example.com"
  frameborder="0"></iframe> -->
 
       
 
      <footer class="footer">
        <p>&copy; viidakonVIP 2017</p>
      </footer>
 
    </div>
  </body>
</html>